<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-SIGESOL {% block title %}{% endblock %}-</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/logo_login.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">     
</head>
<body class="text-center">  
    <nav class="navbar navbar-expand-lg navbar-dark fondonav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('secretaria') }}"><img src="{{ url_for('static', filename='assets/logo.png') }}" alt="LogoAduana"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-item nav-link" href="{{ url_for('secCrudSolicitudes') }}"><i class="fa-solid fa-table-list"></i> Crud de solicitudes</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="{{ url_for('secreSolIngresadas') }}"><i class="fa-solid fa-clipboard-question"></i> Solicitudes sin unidad</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-align-justify"></i> Solicitudes en proceso</a>
                <div class="dropdown-menu">
                  {% if current_user.departamento == "Departamento administrativo" %}
                    <div class="text-center bg-dark text-white">
                      <strong>Departamento administrativo</strong>
                    </div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Almacén">Almacén</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Asistencia">Asistencia</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Asistencia social">Asistencia social</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Bienes y servicios">Bienes y servicios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Finanzas">Finanzas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Gestión operativa">Gestión operativa</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Horas turno">Horas turno</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Informática">Informática</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Jefe departamento">Jefe departamento</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/RR.HH.">RR.HH.</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Unidad de loteo y subasta">Unidad de loteo y subasta</a>
                  {% endif %}
                  {% if current_user.departamento == "Departamento de fiscalización" %}
                    <div class="text-center bg-dark text-white">
                      <strong>Departamento de fiscalización</strong>
                    </div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Adiestramiento canino">Adiestramiento canino</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Aforo">Aforo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Análisis financiero">Análisis financiero</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Drogas">Drogas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Fiscalización Aposteriori">Fiscalización aposteriori</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Gestión operativa">Gestión operativa</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Jefe departamento">Jefe departamento</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/UAR Arica">UAR Arica</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/UFDDC análisis">UFDDC análisis</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Unidad radiológica">Unidad radiológica</a>
                  {% endif %}
                  {% if current_user.departamento == "Departamento jurídico" %}
                    <div class="text-center bg-dark text-white">
                      <strong>Departamento jurídico</strong>
                    </div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Fernando Gatica">Fernando Gatica</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Katherine Ampuero">Katherine Ampuero</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Abogado 3">Abogado 3</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Jefe departamento">Jefe departamento</a>
                  {% endif %}
                  {% if current_user.departamento == "Departamento de operaciones" %}
                    <div class="text-center bg-dark text-white">
                      <strong>Departamento de operaciones</strong>
                    </div>
                    <a class="dropdown-item" href="/secretaria/{{current_user.departamento}}/Centro adiestramiento">Centro adiestramiento</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/secretaria/{{current_user.departamento}}/DTI">DTI</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Gestión operativa">Gestión operativa</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Jefe departamento">Jefe departamento</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Marítimo">Marítimo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Puerto molo">Puerto molo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Terrestres">Terrestres</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/TNI">TNI</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Vehicular">Vehicular</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Zona primaria">Zona primaria</a>
                  {% endif %}
                  {% if current_user.departamento == "Departamento técnico" %}
                    <div class="text-center bg-dark text-white">
                      <strong>Departamento técnico</strong>
                    </div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Artículo 35">Artículo 35</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Audiencias">Audiencias</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Control receptora">Control receptora</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Control régimen suspensivos">Control régimen suspensivos</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Franquicias">Franquicias</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Gestion operativa">Gestion operativa</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Giro y cargos">Giro y cargos</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Jefe departamento">Jefe departamento</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Pagos de derechos">Pagos de derechos</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Pasavantes">Pasavantes</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Sub. departamento cargos y denuncias">Sub. departamento cargos y denuncias</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Sub. departamento reposiciones administrativa">Sub. departamento reposiciones administrativa</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Sub. departamento técnico">Sub. departamento técnico</a>                
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Zona franca">Zona franca</a>                                    
                  {% endif %}
                  {% if current_user.departamento == "Dirección regional" %}
                    <div class="text-center bg-dark text-white">
                      <strong>Dirección regional</strong>
                    </div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Unidad de coordinacion">Unidad de coordinacion</a>                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Director regional">Director regional</a>
                  {% endif %}
                  {% if current_user.departamento == "OIRS" %}
                    <div class="text-center bg-dark text-white">
                      <strong>OIRS</strong>
                    </div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Archivos">Archivos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/{{current_user.departamento}}/Gestion y control">Gestion y control</a>
                  {% endif %}
                </div>
              </li>
            </ul>                
            <div class="d-flex">
                <a class="nav-link" href="{{ url_for('logout') }}"><button class="btn btn-danger ms-auto">Salir <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></button></a>
            </div>
          </div>
        </div>
      </nav>
    {% block body %}

    {% endblock %}
</body>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome/js/all.js') }}"></script>

</html>