{% extends "layouts/loginLayout.html" %}

{% block title %}Error 404{% endblock %}
<link rel="stylesheet" href="/sigesolV4/app/static/css/404.css">
{% block body %}


<section class="p-0 bg-img cover-background" style="background-image: url(/sigesolV4/app/static/assets/hollowed-boxes.svg);">
    <div class="container-fluid d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-5">
                <div class="text-center error-page">
                    <h1 class="mb-0 text-secondary">Error 404</h1>
                    <h2 class="mb-4 text-white">¡Lo sentimos, algo ha salido mal!</h2>
                    <p class="w-sm-80 mx-auto mb-4 text-white">La página a la que intentas ingresar no se ha encontrado.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}



