.container {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgba(rgb(141, 141, 141), rgb(153, 157, 153), rgba(151, 151, 151, 0.747), alpha);
}

.login {
    background-color: rgb(255, 255, 255);
    border-radius: 2cm;
    padding: 1em 1em 1em 1em;
}

.logoLogin {
    height: 15rem;
    width: 15rem;
}

.fondonav{
    background-color: #0b61d1c5;
    background-image: url("../assets/dragon-scales.svg");
    background-size: cover;
}

th {
    border: 1px solid black;
}

td {
    border: 1px dashed black;
}